[submodule "010-templates"]
	path = 010-templates
	url = https://github.com/kagenocookie/RE-Engine-010-Templates
[submodule "ree-pak-tool"]
	path = ree-pak-tool
	url = https://github.com/Ekey/REE.PAK.Tool
